{
  "extends": "taller/react",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "DEV": false
  },
  "rules": {
    "no-mixed-operators": 0,
    "import/first": 0,
    "prefer-promise-reject-errors": 0,
    "react/prop-types": 0
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ]
} 
