
.button4 {border-radius: 12px;}
.button {
    background-color:#1a75ff; /* Green */
    border: none;
    color: white;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;
  }
  .lorem-ipsum{
      margin-top: 10px;
      margin-left: 10px;
      color: #555;
  }
  .novidades{
    max-width: 11.666667%;
  }
  .para2{
      font-size: 13px;
      color: grey;
  }
  .Inscrever{
        color: #555;
        font-size: 14px;
        padding-top: 15px;
        width: 50%;
  }
    .Inscrever a, nav a{
        color: #1a75ff;
    }
/* quries */
@media (max-width: 575.98px) { 
    .lorem-ipsum{
        margin-top: 10px;
        margin-left: 20px;
    }
    .Inscrever{
        padding-left: 5%;
         font-size: 14px;
         padding-top: 15px;
         width: 100%;
   }
 }