@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  font-family: 'Roboto', sans-serif;
}

.page-title {
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}

.text-wrapper {
  font-size: 12px;
  color: #000000;
}

.link {
  color: #448cdb;
  font-size: 13px;
}

.divider {
   background: red;
   position: relative;
   margin-top: 10px;
   margin-bottom: 30px;
}

.divider span {
  display: block;
  background: #fff;
  height: 10px;
  width: 20px;
  text-align: center;
  font-size: 10px;
  color: #000000;
  left: 50%;
  position: absolute;
}

.divider:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  position: absolute;
  left: 0;
  top: 6px;
}

.btn-primary {
  font-size: 16px;
  background: #186aff;
  font-weight: bold;
  border-radius: 0;
}

label {
  font-size: 15px;
  color: #506069;
}

.form-control {
  border-radius: .25rem;
}
.card{
  border: 0;
  box-shadow: 0 1px 4px 0 #00000024;
}
